.container {
    /*Efeito de glass, onde a imagem de fundo ainda fica visível.*/
    width: 450px;
    /*Fundo com opacidade*/
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 40px;
    border-radius: 10px
}

.container h1 {
    text-align: center;
    font-size: 30px;
    color: #fff
}

.container .input-field {
    /*Disposição dos elementos*/
    /*Os ícones serão posicionados com absolute.*/
    position: relative;
    /*Preenche totalmente a área, com os 450px da classe pai acima, menos o padding.*/
    width: 100%;
    height: 50px;
    /*Centraliza os elementos com uma distância entre eles.*/
    margin: 30px auto
}

.input-field input {
    /*Ocupa os espaços no elemento pai.*/
    width: 100%;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: 2px solid rgb(255, 255, 255, 0.2);
    /*Efeito de pílula*/
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    /*Espaçamento grande para receber o ícone e não deixar nada perto da borda.*/
    padding: 20px 25px
}

.input-field input::placeholder {
    color: #fff
}

.input-field .icon {
    /*O pai está como relative.*/
    position: absolute;
    /*Entra no input.*/
    right: 25px;
    /*Deixa o topo do ícone no meio do input.*/
    top: 50%;
    /*Centraliza o ícone no meio do input*/
    transform: translateY(-50%);
    /*Aumenta o tamanho do ícone*/
    font-size: 18px;
    color: #fff
}

.container .recall-forget {
    display: flex;
    /*Espaça os elementos entre eles, fica um a esquerda e outro a direita.*/
    justify-content: space-between;
    font-size: 14.5px;
    /*Sobe o elemente e ainda mantém afastado do elemento de baixo.*/
    margin: -15px 0 15px
}

.recall-forget label {
    color: #fff
}

.recall-forget input {
    margin-right: 5px
}

.recall-forget a,
.signup-link p a {
    color: #fff;
    text-decoration: none
}

.recall-forget a:hover,
.signup-link p a:hover {
    text-decoration: underline
}

.container button {
    width: 100%;
    height: 50px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    /*Sombra*/
    box-shadow: 0 0 10px rgb(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    text-shadow: none
}

.container .signup-link p {
    font-size: 15px;
    text-align: center;
    margin: 20px 0 10px;
    /*Melhora a visualização, o contraste entre o fundo e a letra.*/
    text-shadow: none
}