* {
    /*Reset*/
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    /*Condiciona os inputs a trabalhar com border box pra não sairem dos limites da largura do elemento pai.*/
    box-sizing: border-box;
    /*Nitidez melhor para os textos, porque vai usar um fundo com contraste com efeito de glass, que as vezes pode ficar difícil de ler.*/
    text-shadow: #000 1px 1px;
}

.App {
    /*Alinhar o form no centro*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*Altura para centralizar*/
    min-height: 100vh;
    background-image: url('assets/bg.webp');
    /*background: url('assets/bg.webp') no-repeat;*/
    /*Preenche toda a tela e mostrar o máximo da imagem.*/
    background-size: cover;
    /*Centraliza a imagem.*/
    background-position: center;
}